*
{
    margin: 0;
    box-sizing: border-box;
}
 
header
{
    font-family: papyrus, fantasy;
    height: 15vh;
    width: 100vw;
    background-color: darkgrey;
}
 
main
{
    height: 70vh;
    width: 100vw;
}
 
footer
{
    height: 15vh;
    width: 100vw;
    background-color: darkgray;
}
 
#secao1
{
    font-family: papyrus, fantasy;
    height: 70%;
    width: 100%;
    display: flex;
    background-color:black;
}
 
#secao2
{
    height: 30%;
    width: 100%;
}


article
{

    height: 100%;
    width: 50%;  
}
 
article img
{
    height: 100%;
    width: 100%;
}
 
 
aside
{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: white;
    font-size: large;
    align-items: center;
    padding: 5px;
}

table{
    width: 100;
    border-collapse: collapse;
    font-family: papyrus, fantasy;
    box-shadow: 0 2px 8px;
}

th,td
{
    padding:11px 14px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even){
    background-color: aquamarine;
}

th:hover{
    background-color: #f1f1f1;
}







