#cabecalho{
    height: 80px;
    font-size-adjust:2;
    }

    .table1
    {
        margin-right: 20px;
    }

    #rino{
        border-style: double;
        margin-right: 200px
    }

    #quadro2{
        align-self: auto;
        border-style: double;
        margin-bottom: 80px;
    }