

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}

:root{
    --cor-caqui: #e0d8b0;
}

*{
   background-color: var(--cor-caqui)
}


#contadores, #corDeFundo{
    display: flex;
    flex-direction: column;
    max-width: 120px;
    gap: 15px;
    padding: 20px;
    border: 1px solid;
}

#calculadora{
    border-radius: 25px;
     display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 15px;
    padding: 20px;
    border: 1px solid;
    text-align: center;
    align-items: center;
}

#calculadora input{
    max-width: 200px;
}

#calculadora button{
    background-color: green ;
    border: 10px;
    font-family: Comic Sans MS;
    border-radius: 10px;
    display: block;
    block-size: 50px;
}

input{
    text-align: center;
}